* {
  padding: 0;
  margin: 0;
}

.chat {
  background: url(https://fakeimg.pl/1447x334/) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.content {
  width: 1089px;
  margin: 0 auto;
  margin-top: 111px;
  margin-bottom: 211px;
  position: relative;
}

.content .menu {
  width: 217px;
  height: 22px;
  position: absolute;
  top: -78px;
  left: -40px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  line-height: 160%;
  text-align: left;
}

.content .meun .color {
  color: black;
}

.content .time {
  width: 50px;
  height: 57px;
  position: absolute;
  left: -111px;
}

.content .time .date {
  color: #505050;
  font-size: 17px;
  line-height: 150%;
  text-align: left;
}

.content .time .year {
  color: #a6a6a6;
  font-size: 15px;
  line-height: 150%;
  text-align: left;
  margin-top: 10px;
}

.content .content-item {
  height: 185px;
  width: 100%;
  margin-bottom: 37px;
}

.content .content-item .artteam-img {
  height: 100%;
  width: 210px;
  background: url(https://fakeimg.pl/1447x334/) no-repeat center;
  background-size: cover;
  float: left;
}

.content .content-item .artteam-content {
  width: 556px;
  text-align: left;
  float: left;
  margin-left: 37px;
}

.content .content-item .artteam-content .content-title {
  color: #505050;
  font-size: 17px;
  line-height: 150%;
}

.content .content-item .artteam-content .contentInfo {
  color: gray;
  font-size: 15px;
  line-height: 150%;
  margin-top: 25px;
}

.content .content-item .viewD {
  width: 172px;
  height: 50px;
  float: left;
  color: #505050;
  border: #d43030 solid 1px;
  font-size: 17px;
  line-height: 50px;
  text-align: center;
  margin-left: 110px;
  margin-top: 60px;
}
